body{
    background-color: black;
}
/*White block for post*/
.post{
    background-color: white;
    width: 450px;
    height: 650px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font:bold; 
}
/*Icons style*/
i {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 5px;    
}
i:hover{
    color:blue;
    font-size: 30px;
}
/*Estilo a encabezado*/

.post-header{
    display: flex;
}

.Right-icon{
    margin-left: 320px;
    margin-top: 5px;
}
.text-header {
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom:5px;
    width: max-content;
}
.text-header p{
    margin-top: 0px;
    margin-bottom:0px;
}
.left-icon-header{
    margin-top: 5px;   
}
/*Estilo de div imagen*/
img{
    width: 450px;
    height: 400px;    
}

/*Estilo contenido inferior*/
.icon-footer{
    display: flex;
}

.post-footer p{
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
}

